<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
    bootstrap="bootstrap.php"
    colors="true"
    beStrictAboutOutputDuringTests="true"
    failOnRisky="true"
    failOnWarning="true"
    cacheDirectory=".phpunit.cache"
    executionOrder="depends,defects"
    beStrictAboutCoverageMetadata="false"
>
    <testsuites>
        <testsuite name="unit">
            <directory>unit</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">../</directory>
        </include>
        <exclude>
            <directory>../vendor</directory>
            <directory>../tests</directory>
            <directory>../assets</directory>
            <directory>../languages</directory>
            <directory>../admin/partials</directory>
        </exclude>
        <report>
            <html outputDirectory="coverage/html"/>
            <text outputFile="php://stdout" showOnlySummary="true"/>
        </report>
    </coverage>

    <source>
        <include>
            <directory suffix=".php">../</directory>
        </include>
        <exclude>
            <directory>../vendor</directory>
            <directory>../tests</directory>
            <directory>../assets</directory>
            <directory>../languages</directory>
        </exclude>
    </source>

    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <env name="WP_TESTS_DIR" value="/tmp/wordpress-tests-lib"/>
        <env name="WP_CORE_DIR" value="/tmp/wordpress"/>
    </php>
</phpunit>
